@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,#root{
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  overflow-x: hidden;
}
#root{
  padding: 1em 5vw 1em 14vh;
}
/* *Custom alert */
.alert{
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border:2px solid var(--c);
  color:white;
  max-width: 60vw;
  padding:0.5em 1em;
  background-color: var(--c);
  border-radius: 10px;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:1em;
  font-size: 1.2em;
  box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.386),
  5px 5px 7px 2px inset rgba(0, 0, 0, 0.372);
  text-transform: capitalize;
}
/** Registration and Login */
.auth{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 2em 5em;
  background-color: #d9d9d998;
  width: 35vw;
  border-radius: 10px;
  gap: 1em;
  text-align: center;
  box-shadow: 0px 0px 10px 5px black;
  backdrop-filter: blur(10px);

}
button{
  padding: 0.7em 1.5em;
  background-color: #00FFFF;
  border-radius: 50px;
  font-size: larger;
  font-weight: 600;
}
button:hover{
  box-shadow: 0px 0px 10px 3px rgba(35, 5, 5, 0.492);
}
.auth input{
  padding: 0.7em 1em;
  border:2px solid black;
  border-radius: 10px;
  font-size: 1.1em;
}
.auth h3{
  text-align: left;
  font-weight: 500;
}
.auth .role-box{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.auth .role-box label{
  font-size: 1.2em;
  display: flex;
  gap: 1em;
  align-items: center;
}
label input{
  background-color:black;
  height: 20px;
  width: 20px;
}
a{
  text-decoration: none;
}
.navBar{
  background-color: #3A3AB8;
  height: 100vh;
  width: 25vw;
  position: fixed;
  left:0;
  top:0;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  z-index: 999;
  padding: 1em;

}
nav a{
  color: white;
}

nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 60%;
  font-size: 1.4em;
  text-transform: capitalize;
  font-weight: 600;
}
.active{
  color:#00FFFF;
  font-size: 1.4em;
}
.collapsed{
  max-width: 5vw;
  justify-content: flex-start;
}
.collapsed nav,.collapsed button{
  display:none;
}
.card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80vh;
  width:90vw;
  gap:3em; 
  padding: 1em;
}
.user_card{
  display:flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  background-color: #D9D9D9;
  padding: 2em;
  width: clamp(25vw,25vw,25vw);
  min-height: 60vh;
  overflow-y:visible;
  gap:1em;
}
.user_card>*:not(button,.share){
  background-color: white;
  padding: 0 2em;
}
.user_card h2{
  text-align: center;
}
.user_card button{
  bottom: 0;
  left: 50%;
  font-size: 0.9em;
}
.user_card svg.share{
  position: absolute;
  top:10px;
  right:10px;
  font-size: 1.5em;
}
ul li{
  list-style: circle;
}
ol li{
  list-style: number;
}
.profile{
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1em;
  padding: 3em;
}
.profile>*{
  font-size: 1.2em;
  padding: 1em 2em;
}
.profile>*:not(h2){
  background-color: white;
  width: 60%;
}
.profile img{
  height: 30vh;
  width: 20vw;
  object-fit: cover;
  object-position: center;
}
.search-box{
  width: 40vw;
  position: relative;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  }
.search-box input{
  min-height: 5vh;
  width: 100%;
  border: 2px solid black;
  padding: 1em 4em 1em 1em;
  font-size: 1.1em;
  border-radius: 25px;
  background-color: grey;
}
.search-box input::placeholder{
  color:black;
}
.search-box svg{
  position: absolute;
  right:1em;
  top:50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  transition: all 0.3s ease;
}
.search-box svg:hover{
  cursor: pointer;
  color: blue;
}
.search-box svg:active{
  transform: scale(0.9,0.9);
}
.filter{
  display:flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
}
.filter span{
  font-weight: bold;
}
.filter>*:not(span){
  display: flex;
  align-items: center;
  gap:0.5em;
}